/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

*{
     margin: 0;
     padding: 0;
     list-style: none;
     text-decoration: none;
     font-size: 10px;
}

#center{
     display: flex;
     flex-flow: column wrap;
     align-items: center;
     text-align: center;
     justify-content: center;
     padding: 2rem 5rem;
}

button{
     padding: 1rem 2.1rem 1.1rem;
     border-radius: 50px;
     font-weight: 800;
}


/******************************************
/* LANDING PAGE
/*******************************************/

/* Nav Bar */
.logo{
     order: 1;

}

nav{
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 8vh;
     padding: 2rem 5rem;
     background-color: rgb(140, 206, 140);
}

nav ul{
     display: flex;
     order: 2;
}

nav ul a{
     color: white;
     font-size: 1.6rem;
     margin-left: 2rem;
}

/* Hero Section */

.container{
     background-color: aquamarine;
     height: 92vh;
     padding: 2rem 12rem;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     gap: 4rem;
}

.hero-text{
     width: 70%;
     margin-top: -5rem;
}

.hero-text h1{
     font-size: 5.3rem;
     margin-bottom: 1rem;
     color: red;
}

.hero-text p{
     font-size: 2.4rem;
     margin-bottom: 3.8rem;
}

@media (max-width:884px){

}

@media (max-width:678px){

}

@media (max-width:428px){
     nav{
          display: none;
     }
}

footer {

}

/******************************************
/* WELCOME SECTION
/*******************************************/

.welcome-section h2{
     font-size: 3rem;
}

.welcome-section p {
     font-size: 1.6rem;
     margin-top: 2rem;
}

.welcome-section button{
     width: fit-content;
     margin-top: 3rem;
}

.welcome-section img{

}


/******************************************
APPROACH SECTION
/*******************************************/

.approach-section h2{
     font-size: 3rem;
}

.approach-section p {
     font-size: 1.6rem;
     margin-top: 2rem;
}

.approach-section button{
     width: fit-content;
     margin-top: 3rem;
}


/******************************************
/* SERVICES SECTION
/*******************************************/

.services-section h4{
     font-size: 2.5rem;

}


/******************************************
/* JOURNEYS SECTION
/*******************************************/



/******************************************
/* CONTACT SECTION
/*******************************************/

.contact-form{
     padding: 3rem;
}

.contact {
     width: 80%;
     margin: 0 auto;
}

.submitButton {
     margin-top: 2rem;
}

label {
     display: block;
     margin: 1rem 0 0 0;
     font-size: 2rem;
}

textarea {
     width: 100%;
     height: 15rem;
     font-size: 2rem;
     border: #153548 3px solid;
     background: transparent;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input {
     height: 4rem;
     font-size: 2rem;
     width: 100%;
     border: #153548 3px solid;
     background: transparent;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


#contact-center{
     display: flex;
     justify-content: center;
}


/******************************************
/* ABOUT PAGE
/*******************************************/



/******************************************
/* FAQ PAGE
/*******************************************/



/******************************************
/* SINGLES SERVICES PAGE
/*******************************************/



/******************************************
/* GROUP SERVICES PAGE
/*******************************************/



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
