/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

*{
     margin: 0;
     padding: 0;
     list-style: none;
     text-decoration: none;
     font-size: 10px;
}

#center{
     display: flex;
     flex-flow: column wrap;
     align-items: center;
     text-align: center;
     justify-content: center;
     padding: 2rem 5rem;
}

button{
     padding: 1rem 2.1rem 1.1rem;
     border-radius: 50px;
     font-weight: 800;
}

body{
     background-color: #183425;
}

.item30{
     width: 30%;
}

.item40{
     width: 40%;
}

.item60{
     width: 60%;
}

.item70{
     width: 70%;
}

/******************************************
/* LANDING PAGE
/*******************************************/

/* Nav Bar */
.logo{
     order: 1;

}

nav{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 5rem;
     background-color: #183425;
}

.menu{
     display: flex;
     order: 2;
     height: fit-content;
     display: flex;
}

.menu a{
     color: #DDBFA7;
     font-size: 2rem;
     transition: all .2s ease-in-out;
}

.menu a:hover{
     color: rgb(116, 116, 131);
}

.menu div{
     padding: 3vh 2rem;
}

.dropdown{
     color: white;
     font-size: 1.6rem;
     padding: 3vh 0;
}

nav .contact-dropdown{
     position: absolute;
     height: fit-content;
     width: fit-content;
     display: none;
     flex-flow: column wrap;
     background-color: #506C60;
     margin-top: 3vh;
     margin-left: -1rem;
     padding: 0;
}

.contact-dropdown div{
     padding: 1rem 1rem 1rem 0;
     background: #183425;
     border-top: 1px solid rgb(237, 232, 215);
}

.contact-dropdown a{
     width: 100%;
     margin: 0;
     line-height: 2.5rem;
     padding: 1rem 1rem 1rem 1rem;
}
    
.down{
     display: flex !important;
}



/* Hero Section */

.container{
     background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/IMG_1663.jpeg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     height: 92vh;
     padding: 2rem 12rem;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     gap: 4rem;
}

.hero-text{
     width: 70%;
     margin-top: -5rem;
}

.hero-text h1{
     font-size: 5.3rem;
     margin-bottom: 1rem;
     color: #DDBFA7;
}

.hero-text p{
     font-size: 2.4rem;
     margin-bottom: 3.8rem;
     color: #DDBFA7
}

@media (max-width:884px){

}

@media (max-width:678px){

}

@media (max-width:428px){
     nav{
          display: none;
     }
}

footer {

}

/******************************************
/* WELCOME SECTION
/*******************************************/

.welcome-section{
     margin-top: 2rem;
     display: flex;
     flex-flow: row nowrap;
     padding: 10rem 5rem;
}

.welcome-section .item40{
     display: flex;
     justify-content: center;
     align-items: center;
}

.welcome-section .item60{
}

.welcome-section h2{
     font-size: 8rem;
     color: #DDBFA7;
}

.welcome-section h5{
     font-size: 6rem;
     font-weight: 100;
     padding-top: 4rem;
     color: #DDBFA7;
}

.welcome-section p {
     font-size: 3rem;
     padding-top: 6rem;
     font-weight: 400;
     color: #DDBFA7;
}

.welcome-section button{
     width: fit-content;
     margin-top: 6rem;
     background-color: transparent;
     border: 1px solid #DDBFA7;
}

.welcome-section button a{
     color: #DDBFA7;
     font-size: 2rem;
     padding: 1rem 3rem;
}

.welcome-section img{
     height: fit-content;
     width: 60rem;
     border-radius: 50px;
}



/******************************************
APPROACH SECTION
/*******************************************/

.approach-section{
     background-color: #F8E3D2;
}

.approach-section #center{
     display: flex;
     flex-flow: row wrap;
}

.approach-section h2{
     font-size: 3rem;
     width: 100%;
}

.approach-section p{
     font-size: 1.6rem;
     margin-top: 2rem;
     width: 50%;
}

.approach-section button{
     width: fit-content;
     margin-top: 3rem;
}

.approach-section img{
     width: 90%;
     height: fit-content;
}

.approach-section .col-1-2,
.approach-section .col-2-2{
     width: 50%;
}

.approach-section .col-2-2{
     display: flex;
     text-align: center;
     justify-content: center;
     align-items: center;
     flex-flow: column;
}

/******************************************
/* TESTIMONIAL SECTION
/*******************************************/



/******************************************
/* SERVICES SECTION
/*******************************************/

.services-section h4{
     font-size: 2.5rem;

}

.services-section .col-1-3,
.services-section .col-2-3,
.services-section .col-3-3{
     display: flex;
     flex-flow: row nowrap;
     border: 1px solid black;
     width: 100%;
     height: fit-content;
     margin-top: 3rem;
}

.services-section img{
     width: 90%;
     height: fit-content;
}

.services-section .col-1-3 div,
.services-section .col-2-3 div,
.services-section .col-3-3 div{
     display: flex;
     align-items: center;
     flex-flow: column wrap;
     justify-content: center;
     text-align: center;
     padding: 1rem;
}

.item30{
     width: 40%;
}

.item70{
     width: 60%;
}

.services-section p{
     margin-top: 2rem;
}

.services-section button{
     margin-top: 1rem;
}

.services-section h5{
     font-size: 2rem;
}


/******************************************
/* JOURNEYS SECTION
/*******************************************/



/******************************************
/* CONTACT SECTION
/*******************************************/

.contact-form{
     padding: 3rem;
}

.contact-form h5{
     text-align: center;
     font-size: 2rem;
}

.submitButton {
     margin-top: 2rem;
}

label {
     display: block;
     margin: 1rem 0 0 0;
     font-size: 2rem;
}

textarea {
     width: 100%;
     height: 15rem;
     font-size: 2rem;
     border: #153548 3px solid;
     background: transparent;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input {
     height: 4rem;
     font-size: 2rem;
     width: 100%;
     border: #153548 3px solid;
     background: transparent;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


#contact-center{
     display: flex;
     justify-content: center;
}


/******************************************
/* ABOUT PAGE
/*******************************************/



/******************************************
/* FAQ PAGE
/*******************************************/



/******************************************
/* SINGLES SERVICES PAGE
/*******************************************/



/******************************************
/* GROUP SERVICES PAGE
/*******************************************/



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
